* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 2000px;
}

/* header */

header {
    background-color: rgb(180, 208, 231);
    margin: auto;
    max-width: 1300px;
}

.header-container {
    margin: auto;
    max-width: 800px;
}

.title {
    font-size: 2.8em;
    font-weight: 900;
    padding: 35px 0;
}

.small-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}

.text {
    flex: 1 1 190px;
    font-size: .8em;
    line-height: 1.4em;
}

.header-button {
    padding: 20px 0;
}

.header-button button {
    color: white;
    background-color: rgb(0, 97, 255);
    border: 1px solid rgb(180, 208, 231);
    padding: .4em .9em;
    font-size: .8em;
}

.header-icon {
    font-size: 2em;
    padding: 30px 0px 10px;
}

/* header image */

.image {
    flex: 1 1 450px;
    position: relative;
}

.image img {
    width: 100%;
    position: absolute;
    right: -17px;
}

/* main */
/* main part1 */

.part1-container {
    margin: auto;    
    max-width: 750px;    
    margin-top: 95px;
}

.part1-title {
    font-size: 1.7em;
}

.part1-selectors {
    padding: 35px 0;
    font-size: .8em;
    display: flex;
}

.part1-selectors label {
    margin-right: 50px;
}

.part1-selectors input {
    margin-right: 3px;
}

/* cards */

.card-container {
    margin: auto;    
    max-width: 750px; 
    display: flex;
    justify-content: space-between;
}

.card {
    border: 1px solid rgba(86, 86, 86, 0.452);
    max-width: 30%;
}

.card-small-container {
    max-width: 80%;
    margin: auto;
    font-size: .7em;
    margin-bottom: 1.5em;
}

/* cards content */

.pack {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(86, 86, 86, 0.452);
    font-size: .7em;
    padding: .5em 0;
}

.pack > * {
    margin-right: 5px;
}

.pack-name {
    padding: 30px 0;
    line-height: 25px;
}

.thin {
    font-weight: 100;
}

.pack-info-item {
    padding: 7px 0;
}

.free-trial-button {
    padding: 27px 0 16px;
}

.free-trial-button button{
    color: white;
    background-color: rgb(0, 97, 255);
    border: 1px solid white;
    padding: .9em .9em;
    font-size: .9em;
    width: 100%; 
}

.divided {
    color: rgba(86, 86, 86, 0.452);
    padding: 20px 0 35px;
}

.perk-item {
    padding: 10px 0;
    margin-left: 12px;
}
